{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container-fluid">
        <div class="h-100 pt-3">
            <div class="ticket_entry position-relative pt-3">
                <div class="text-center">
                    <h3 class="m-0">2025/09/20(土)</h3>
                    <p class="m-0">11:30 OPEN 12:25 START</p>
                </div>
                <canvas id="canvas" class="canvas position-absolute w-100">
                Your browser does not support canvas element.
                </canvas>
                <div id="child" class="child d-flex justify-content-center position-absolute w-100">
                    <img src="{% static 'images/miffy.svg' %}" class="circle">
                    <img src="{% static 'images/boris.svg' %}" class="circle">
                </div>
                <script src="{% static 'js/ticket.js' %}" ></script>
                <div class="bg-beige ticket-link mt-6 h-100">
                    <p>○○ ○○様</p>
                    <div class="d-flex align-items-center mt-4">
                        <img src="{% static 'images/check.svg' %}" class="ticket-check">
                        <div class="mt-2 mx-5">
                            <h2 class="text-light">指定席</h2>
                            <p>アリーナ</p>
                            <p>A21番</p>
                            <p>￥0(税込)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}